@-webkit-keyframes flashing {
  25% {
    opacity: 0;
  }
  25.1% {
    opacity: 1;
  }
}

@keyframes flashing {
  25% {
    opacity: 0;
  }
  25.1% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

.page {
  min-width: 288px;
  margin: 1rem 1rem 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1280px) {
  .page {
    margin: 1rem 1rem 3rem;
  }
}

.page__header {
  text-align: center;
}

.page__header .page__title {
  font-family: 'Allura', cursive;
  font-size: 3.5rem;
}

@media (min-width: 1280px) {
  .page__header .page__title {
    font-size: 4.5rem;
  }
}

.page__header .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -.75rem;
}

.page__header .filters .filters__item {
  margin: .25rem;
  padding: .25rem .5rem;
  font-size: .875rem;
  color: #077187;
  border: 1px solid #077187;
  border-radius: 1rem;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .page__header .filters .filters__item {
    padding: .5rem 1rem;
    font-size: 1rem;
  }
}

.page__header .filters .filters__item--is-active {
  color: #fff;
  background-color: #077187;
}

.gallery .gallery__loader {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  height: 2.75rem;
  width: 2.75rem;
}

@media (orientation: landscape) and (max-width: 640px) {
  .gallery .gallery__loader {
    top: 60%;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
}

@media (min-width: 768px) {
  .gallery .gallery__loader {
    height: 4rem;
    width: 4rem;
  }
}

.gallery .gallery__loader .dot {
  position: absolute;
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
  background-color: #074f57;
}

@media (min-width: 768px) {
  .gallery .gallery__loader .dot {
    height: .75rem;
    width: .75rem;
  }
}

.gallery .gallery__loader .dot:nth-child(1) {
  top: 25%;
  left: 25%;
  -webkit-transform: translate(-75%, -75%);
          transform: translate(-75%, -75%);
  -webkit-animation: flashing 2s ease-in 1.5s infinite;
          animation: flashing 2s ease-in 1.5s infinite;
}

.gallery .gallery__loader .dot:nth-child(2) {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: flashing 2s ease-in 1.75s infinite;
          animation: flashing 2s ease-in 1.75s infinite;
}

.gallery .gallery__loader .dot:nth-child(3) {
  top: 25%;
  left: 75%;
  -webkit-transform: translate(-25%, -75%);
          transform: translate(-25%, -75%);
  -webkit-animation: flashing 2s ease-in 0s infinite;
          animation: flashing 2s ease-in 0s infinite;
}

.gallery .gallery__loader .dot:nth-child(4) {
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  -webkit-animation: flashing 2s ease-in 0.25s infinite;
          animation: flashing 2s ease-in 0.25s infinite;
}

.gallery .gallery__loader .dot:nth-child(5) {
  top: 75%;
  left: 75%;
  -webkit-transform: translate(-25%, -25%);
          transform: translate(-25%, -25%);
  -webkit-animation: flashing 2s ease-in 0.5s infinite;
          animation: flashing 2s ease-in 0.5s infinite;
}

.gallery .gallery__loader .dot:nth-child(6) {
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-animation: flashing 2s ease-in 0.75s infinite;
          animation: flashing 2s ease-in 0.75s infinite;
}

.gallery .gallery__loader .dot:nth-child(7) {
  top: 75%;
  left: 25%;
  -webkit-transform: translate(-75%, -25%);
          transform: translate(-75%, -25%);
  -webkit-animation: flashing 2s ease-in 1s infinite;
          animation: flashing 2s ease-in 1s infinite;
}

.gallery .gallery__loader .dot:nth-child(8) {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: flashing 2s ease-in 1.25s infinite;
          animation: flashing 2s ease-in 1.25s infinite;
}

.gallery .gallery__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 905px;
  margin: .5rem auto;
}

@media (min-width: 1280px) {
  .gallery .gallery__images {
    max-width: 1200px;
    margin: 1rem auto;
  }
}

.gallery .gallery__images .container-image {
  -ms-flex-preferred-size: 43vmin;
      flex-basis: 43vmin;
  height: 38vmin;
  min-width: 137px;
  min-height: 121px;
  position: relative;
  margin: .5rem 0;
  background-color: #077187;
  cursor: pointer;
}

.gallery .gallery__images .container-image:hover .image-provider-name {
  opacity: 1;
}

.gallery .gallery__images .container-image:hover .image {
  opacity: .2;
}

@media (min-width: 533px) {
  .gallery .gallery__images .container-image {
    -ms-flex-preferred-size: 30vw;
        flex-basis: 30vw;
    height: 27.5vw;
    max-height: 260px;
  }
  .gallery .gallery__images .container-image:not(.container-image--wide) {
    max-width: 285px;
  }
}

.gallery .gallery__images .container-image--wide {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 533px) {
  .gallery .gallery__images .container-image--wide {
    -ms-flex-preferred-size: 66%;
        flex-basis: 66%;
    max-width: 595px;
  }
}

@media (min-width: 1200px) {
  .gallery .gallery__images .container-image--wide {
    max-width: 590px;
  }
}

.gallery .gallery__images .container-image--wide .image {
  -o-object-position: 0 30%;
     object-position: 0 30%;
}

.gallery .gallery__images .container-image--portrait-version {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 76vmin;
}

@media (min-width: 533px) {
  .gallery .gallery__images .container-image--portrait-version {
    -ms-flex-preferred-size: 30vw;
        flex-basis: 30vw;
    height: 27.5vw;
  }
}

.gallery .gallery__images .container-image .image-provider-name {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
}

@media (min-width: 768px) {
  .gallery .gallery__images .container-image .image-provider-name {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .gallery .gallery__images .container-image .image-provider-name {
    font-size: 2rem;
  }
}

.gallery .gallery__images .container-image .image {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.gallery .gallery__button {
  display: block;
  width: 100%;
  min-height: 34px;
  position: relative;
  padding: .5rem 0;
  border: none;
  background-color: #074f57;
  color: #fff;
  font-size: .875rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

@media (min-width: 533px) {
  .gallery .gallery__button {
    width: 45%;
    max-width: 590px;
    min-height: 42px;
    margin: .75rem auto 0;
    padding: .75rem 0;
  }
}

@media (min-width: 1024px) {
  .gallery .gallery__button {
    min-height: 55px;
    padding: 1.125rem 0;
    font-size: 1rem;
  }
}

.gallery .gallery__button .gallery__loader--small {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 1.375rem;
  width: 1.375rem;
}

@media (min-width: 1024px) {
  .gallery .gallery__button .gallery__loader--small {
    height: 2rem;
    width: 2rem;
  }
}

.gallery .gallery__button .gallery__loader--small .dot--small {
  height: .25rem;
  width: .25rem;
  background-color: #fff;
}

@media (min-width: 1024px) {
  .gallery .gallery__button .gallery__loader--small .dot--small {
    height: .375rem;
    width: .375rem;
  }
}

.gallery .gallery__image-zoom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  padding: 3rem 0;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 100vh;
}

@media (min-width: 1600px) {
  .gallery .gallery__image-zoom-overlay {
    padding: 1.5rem 0;
  }
}

.gallery .gallery__image-zoom-overlay .container-image-zoom-overlay {
  height: 100%;
  text-align: center;
}

.gallery .gallery__image-zoom-overlay .container-image-zoom-overlay .image--large {
  max-width: 80%;
  max-height: 50vmin;
}

@media (orientation: portrait) {
  .gallery .gallery__image-zoom-overlay .container-image-zoom-overlay .image--large {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
}

@media (orientation: landscape) and (max-width: 823px) {
  .gallery .gallery__image-zoom-overlay .container-image-zoom-overlay .image--large {
    max-width: 45%;
  }
}

@media (min-width: 1024px) {
  .gallery .gallery__image-zoom-overlay .container-image-zoom-overlay .image--large {
    width: 60%;
    max-height: 80vh;
  }
}

.gallery .gallery__image-zoom-overlay .container-image-zoom-overlay .cross-mark {
  display: block;
  width: 80%;
  margin: 0 auto 1rem;
  text-align: right;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

@media (orientation: landscape) and (max-width: 823px) {
  .gallery .gallery__image-zoom-overlay .container-image-zoom-overlay .cross-mark {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  .gallery .gallery__image-zoom-overlay .container-image-zoom-overlay .cross-mark {
    width: 60%;
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */