@import 'animations';

@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin positioning($position: null, $top: null, $left: null, $transform: null) {
  position: $position;
  top: $top;
  left: $left;
  transform: $transform;
}

@mixin flexbox($justify-content: null, $align-items: null) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-item-dimensions($flex-basis, $height: null, $width: null) {
  flex-basis: $flex-basis;
  height: $height;
  width: $width;
}

@mixin button {
  display: block;
  width: 100%;
  min-height: 34px;
  position: relative;
  padding: .5rem 0;
  border: none;
  background-color: $darker;
  color: #fff;
  font-size: .875rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;

  @media (min-width: 533px) {
    width: 45%;
    max-width: 590px;
    min-height: 42px;
    margin: .75rem auto 0;
    padding: .75rem 0;
  }

  @media (min-width: 1024px) {
    min-height: 55px;
    padding: 1.125rem 0;
    font-size: 1rem;
  }
}

@mixin image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@mixin flashing-animation($delay) {
  animation: flashing 2s ease-in $delay infinite;
}