@import 'animations';

@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin positioning($position: null, $top: null, $left: null, $transform: null) {
  position: $position;
  top: $top;
  left: $left;
  transform: $transform;
}

@mixin flexbox($justify-content: null, $align-items: null) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flashing-animation($delay) {
  animation: flashing 2s ease-in $delay infinite;
}