@import 'variables';
@import 'mixins';

* {
  @include reset;
}

.page {
  margin: 1rem 1rem 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.page__header {
  text-align: center;

  .page__title {
    font-family: 'Allura', cursive;
    font-size: 3.5rem;
  }

  .filters {
    @include flexbox(center);
    margin-top: -.75rem;

    .filters__item {
      margin: .25rem;
      padding: .25rem .5rem;
      font-size: .875rem;
      color: $brighter;
      border: 1px solid $brighter;
      border-radius: 1rem;
      cursor: pointer;

      &--is-active {
        color: #fff;
        background-color: $brighter;
      }
    }
  }
}

.gallery {

  .gallery__loader {
    @include positioning(absolute, 40%, 50%, translate(-50%, -60%));
    height: 2.75rem;
    width: 2.75rem;

    @media (orientation: landscape) and (max-width: 640px) {
      top: 60%;
      transform: translate(-50%, -40%);
    }

    @media (min-width: 768px) {
      height: 4rem;
      width: 4rem;
    }

    .dot {
      @include positioning(absolute);
      height: .5rem;
      width: .5rem;
      border-radius: 50%;
      background-color: $darker;

      @media (min-width: 768px) {
        height: .75rem;
        width: .75rem;
      }

      &:nth-child(1) {
        @include positioning($top: 25%, $left: 25%, $transform: translate(-75%, -75%));
        @include flashing-animation(1.5s);
      }

      &:nth-child(2) {
        @include positioning($top: 0, $left: 50%, $transform: translateX(-50%));
        @include flashing-animation(1.75s);
      }

      &:nth-child(3) {
        @include positioning($top: 25%, $left: 75%, $transform: translate(-25%, -75%));
        @include flashing-animation(0s);
      }

      &:nth-child(4) {
        @include positioning($top: 50%, $left: 100%, $transform: translate(-100%, -50%));
        @include flashing-animation(.25s);
      }

      &:nth-child(5) {
        @include positioning($top: 75%, $left: 75%, $transform: translate(-25%, -25%));
        @include flashing-animation(.5s);
      }

      &:nth-child(6) {
        @include positioning($top: 100%, $left: 50%, $transform: translate(-50%, -100%));
        @include flashing-animation(.75s);
      }

      &:nth-child(7) {
        @include positioning($top: 75%, $left: 25%, $transform: translate(-75%, -25%));
        @include flashing-animation(1s);
      }

      &:nth-child(8) {
        @include positioning($top: 50%, $left: 0, $transform: translateY(-50%));
        @include flashing-animation(1.25s);
      }
    }
  }

  .gallery__images {
    @include flexbox(space-between);
    margin: .5rem 0;

    .container-image {
      flex-basis: 42.5vmin;
      height: 37.5vmin;
      margin: 3vmin 0;

      &--wide {
        flex-basis: 100%;

        .image {
          object-position: 0 30%;
        }
      }

      &--portrait-version {
        flex-basis: 100%;
        height: 37.5vmin * 2;
      }

      .image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }
}