@import 'variables';
@import 'mixins';

* {
  @include reset;
}

.page {
  min-width: 288px;
  margin: 1rem 1rem 1.5rem;
  font-family: 'Montserrat', sans-serif;

  @media (min-width: 1280px) {
    margin: 1rem 1rem 3rem;
  }
}

.page__header {
  text-align: center;

  .page__title {
    font-family: 'Allura', cursive;
    font-size: 3.5rem;

    @media (min-width: 1280px) {
      font-size: 4.5rem;
    }
  }

  .filters {
    @include flexbox(center);
    margin-top: -.75rem;

    .filters__item {
      margin: .25rem;
      padding: .25rem .5rem;
      font-size: .875rem;
      color: $brighter;
      border: 1px solid $brighter;
      border-radius: 1rem;
      cursor: pointer;

      @media (min-width: 1280px) {
        padding: .5rem 1rem;
        font-size: 1rem;
      }

      &--is-active {
        color: #fff;
        background-color: $brighter;
      }
    }
  }
}

.gallery {

  .gallery__loader {
    @include positioning(absolute, 40%, 50%, translate(-50%, -60%));
    height: 2.75rem;
    width: 2.75rem;

    @media (orientation: landscape) and (max-width: 640px) {
      top: 60%;
      transform: translate(-50%, -40%);
    }

    @media (min-width: 768px) {
      height: 4rem;
      width: 4rem;
    }

    .dot {
      @include positioning(absolute);
      height: .5rem;
      width: .5rem;
      border-radius: 50%;
      background-color: $darker;

      @media (min-width: 768px) {
        height: .75rem;
        width: .75rem;
      }

      &:nth-child(1) {
        @include positioning($top: 25%, $left: 25%, $transform: translate(-75%, -75%));
        @include flashing-animation(1.5s);
      }

      &:nth-child(2) {
        @include positioning($top: 0, $left: 50%, $transform: translateX(-50%));
        @include flashing-animation(1.75s);
      }

      &:nth-child(3) {
        @include positioning($top: 25%, $left: 75%, $transform: translate(-25%, -75%));
        @include flashing-animation(0s);
      }

      &:nth-child(4) {
        @include positioning($top: 50%, $left: 100%, $transform: translate(-100%, -50%));
        @include flashing-animation(.25s);
      }

      &:nth-child(5) {
        @include positioning($top: 75%, $left: 75%, $transform: translate(-25%, -25%));
        @include flashing-animation(.5s);
      }

      &:nth-child(6) {
        @include positioning($top: 100%, $left: 50%, $transform: translate(-50%, -100%));
        @include flashing-animation(.75s);
      }

      &:nth-child(7) {
        @include positioning($top: 75%, $left: 25%, $transform: translate(-75%, -25%));
        @include flashing-animation(1s);
      }

      &:nth-child(8) {
        @include positioning($top: 50%, $left: 0, $transform: translateY(-50%));
        @include flashing-animation(1.25s);
      }
    }
  }

  .gallery__images {
    @include flexbox(space-between);
    max-width: 905px;
    margin: .5rem auto;

    @media (min-width: 533px) {
      &--align-left::after {
        content: '';
        flex: auto;
      }
    }

    @media (min-width: 1280px) {
      max-width: 1200px;
      margin: 1rem auto;
    }

    .container-image {
      @include flex-item-dimensions($W-portrait, $height: $H-portrait);
      min-width: 137px;
      min-height: 121px;
      position: relative;
      margin: .5rem 0;
      background-color: $brighter;
      cursor: pointer;

      &:hover {

        .image-provider-name {
          opacity: 1;
        }

        .image {
          opacity: .2;
        }
      }

      @media (min-width: 533px) {
        @include flex-item-dimensions($W-landscape, $height: $H-landscape);
        max-height: 260px;

        &:not(.container-image--wide) {
          max-width: 285px;
        }
      }

      &--wide {
        @include flex-item-dimensions(100%);

        @media (min-width: 533px) {
          @include flex-item-dimensions(66%);
          max-width: 595px;
        }

        @media (min-width: 1200px) {
          max-width: 590px;
        }

        .image {
          object-position: 0 30%;
        }
      }

      &--portrait-version {
        @include flex-item-dimensions(100%, $height: $H-portrait * 2);

        @media (min-width: 533px) {
          @include flex-item-dimensions($W-landscape, $height: $H-landscape);
        }
      }

      .image-provider-name {
        @include positioning(absolute, 50%, 50%, translate(-50%, -50%));
        color: #fff;
        opacity: 0;

        @media (min-width: 768px) {
          font-size: 1.5rem;
        }

        @media (min-width: 1200px) {
          font-size: 2rem;
        }
      }

      .image {
        @include image;
        transition: opacity .3s ease-in-out;
      }
    }
  }

  .gallery__button {
    @include button;

    .gallery__loader--small {
      top: 50%;
      transform: translate(-50%, -50%);
      height: 1.375rem;
      width: 1.375rem;

      @media (min-width: 1024px) {
        height: 2rem;
        width: 2rem;
      }

      .dot--small {
        height: .25rem;
        width: .25rem;
        background-color: #fff;

        @media (min-width: 1024px) {
          height: .375rem;
          width: .375rem;
        }
      }
    }
  }

  .gallery__image-zoom-overlay {
    @include positioning(fixed, 0, 0);
    width: 100%;
    height: 85vh;
    padding: 3rem 0;
    background-color: rgba(0, 0, 0, .8);
    line-height: 100vh;

    @media (min-width: 1600px) {
      padding: 1.5rem 0;
    }

    .container-image-zoom-overlay {
      height: 100%;
      text-align: center;

      .image--large {
        max-width: 80%;
        max-height: 50vmin;

        @media (orientation: portrait) {
          transform: translateY(-10vh);
        }

        @media (orientation: landscape) and (max-width: 823px) {
          max-width: 45%;
        }

        @media (min-width: 1024px) {
          width: 60%;
          max-height: 80vh;
        }
      }

      .cross-mark {
        display: block;
        width: 80%;
        margin: 0 auto 1rem;
        text-align: right;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        cursor: pointer;

        @media (orientation: landscape) and (max-width: 823px) {
          width: 45%;
        }

        @media (min-width: 1024px) {
          width: 60%;
          font-size: 2.5rem;
        }
      }
    }
  }
}